.header {
  background-color: gray;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  padding: 10px;
}
.header__rightBtn {
  margin: 5px !important;
}
.alpha__logo {
  color: rgb(255, 133, 204);
  margin-left: 20px;
  cursor: pointer;
}
